/* $Id$ */

div.audioprompter-button {
  display:block;
  float:left;
  color: black;
  font-weight:bold;
  cursor:pointer;
  display:inline-block;
  position:absolute;
  z-index:-1;
  width:60px;
  height:74px;
  line-height:100px;
  font-size:16px;
  text-align:center;
  overflow:hidden;
  background: url(audioprompter-controls.png) center center no-repeat transparent;
}

#audioprompter-controls { width:208px; height:108px; position:relative; }
#audioprompter-controls-cover {background:lightgrey; width:100%; height:100%; top:0; left:0; border-radius:50px;}

  #audioprompter-replayButton {top:28px; left:10px; background-position: -197px -7px; font-size:11px; line-height:112px; text-indent:-8px;}
  #audioprompter-recordButton {top:0; left:54px; width:100px; height:100px; background-position: 0 0; }
  #audioprompter-stopButton {top:0; left:54px; width:100px; height:100px; background-position: -100px 0;}
  #audioprompter-saveButton {top:2px; left:67px; background-position: -314px 0; line-height:180px; width:78px; height:100px;}
  #audioprompter-reRecordButton {top:28px; right:4px; background-position: -259px -44px; font-size:11px; line-height:112px; text-indent:-8px;}

#audioprompter-controls.prompt-ready #audioprompter-recordButton {z-index:100;}

#audioprompter-controls.recording #audioprompter-stopButton {z-index:50;}

#audioprompter-controls.recorded #audioprompter-replayButton,
#audioprompter-controls.recorded #audioprompter-reRecordButton,
#audioprompter-controls.recorded #audioprompter-saveButton {z-index:100;}